<ion-header>

  <!-- <app-header></app-header> -->
  <app-onboarding-mainheader></app-onboarding-mainheader>
</ion-header>
<ion-content class="pre-on-boarding-block" fullscreen>
  <p class="page-header mb-8">
    <a routerLink="/preonboarding-cards" (click)="org()">Org /</a>
    <a routerLink="/pre-onboarding-setup" (click)="onboard()">Onboarding /</a>
    Preboarding
  </p>
  <!-- <p class="page-header mb-8"> <a routerLink="/pre_onboarding" (click)="preonboard()">Onboarding ></a> Preboarding </p> -->
  <ion-row class="mt-30 mb-15">
    <ion-col>
      <p class="page-sub-header">Preboarding</p>
      <p class="page-header">List of all candidates who are selected to join the organization.</p>
    </ion-col>
    <ion-col class="row-right">
      <ion-button class="primary-btn" (click)="openCandidateForm()"><ion-icon class="pr-5"
          name="add-outline"></ion-icon> Add Candidate</ion-button>
      <ion-button class="primary-outline-btn"><ion-img class="pr-5"
          src="../../../assets/Icons/MdOutlineChecklist.svg"></ion-img>Import Candidates</ion-button>
    </ion-col>
  </ion-row>


  <!-- Filters -->
  <div class="filters">
    <ion-grid class="filters-grid">
      <ion-row class="ion-align-items-center">
        <ion-col class="row-left" size="2">
          <div class="filter-chip" lines="none">
            <ion-label>Business Unit</ion-label>
            <ion-select class="custom-dropdown" toggleIcon="chevron-down"
              (ionChange)="onFilterChange('businessunit', $event)" expandedIcon="chevron-up" placeholder="ALL"
              interface="popover">
              <ion-select-option value="">
                All
              </ion-select-option>
              <ion-select-option *ngFor="let list1 of BusinessunitList" [value]="list1">
                {{list1}}
              </ion-select-option>
            </ion-select>
          </div>
          <div class="filter-chip">
            <ion-label>Job Title</ion-label>
            <ion-select class="custom-dropdown" toggleIcon="chevron-down" expandedIcon="chevron-up" placeholder="ALL"
              interface="popover" (ionChange)="onFilterChange('jobtitle', $event)">
              <ion-select-option value="">
                All
              </ion-select-option>
              <ion-select-option *ngFor="let title of JobTitleList" [value]="title">
                {{title}}
              </ion-select-option>
            </ion-select>
            <!-- <ion-icon color="gray" slot="end" name="chevron-down-outline"></ion-icon> -->
          </div>
          <div class="filter-chip">
            <span>Department</span>
            <ion-select class="custom-dropdown" toggleIcon="chevron-down" expandedIcon="chevron-up" placeholder="ALL"
              interface="popover" (ionChange)="onFilterChange('department', $event)">
              <ion-select-option value="">
                All
              </ion-select-option>
              <ion-select-option *ngFor="let department of DeptList" [value]="department">
                {{department}}
              </ion-select-option>
            </ion-select>
          </div>
          <div class="filter-chip">
            <span>Location</span>
            <ion-select class="custom-dropdown" toggleIcon="chevron-down" expandedIcon="chevron-up" placeholder="ALL"
              interface="popover" (ionChange)="onFilterChange('location', $event)">
              <ion-select-option value="">
                All
              </ion-select-option>
              <ion-select-option *ngFor="let location of LocationList" [value]="location">
                {{location}}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="mb-15">
        <ion-col size="6" size-lg="5" size-md="6">
          <div class="search-wrap">
            <ion-icon name="search-outline"></ion-icon>
            <input #searchInput placeholder="Search" (keyup)="SearchCandidates($event)" />
          </div>
        </ion-col>
        <ion-col>
          <div class="clear">
            <ion-button class="primary-btn clearbtn" (click)="clearSearch(searchInput)">
              Clear
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Table Header -->
  <div class="table">
    <ion-row class="table-header header-table">
      <ion-col size="2" class="row-left">
        <p>Candidate Name</p>
      </ion-col>
      <ion-col size="2">
        <p>Job Title</p>
      </ion-col>

      <ion-col size="2">
        <p>Department</p>
      </ion-col>
      <ion-col size="2">
        <p>Offer Status</p>
      </ion-col>
      <ion-col size="2">
        <p>Location</p>
      </ion-col>

      <ion-col size="2">
        <p>Actions</p>
      </ion-col>

    </ion-row>
    <div class="table-list">
      <ion-grid *ngFor="let candidate of candidates">
        <ion-row class="table-list-row">
          <ion-col size="2" class="row-left">
            <div class="cell">
              <div class="name-stack">
                <p class="name-link" (click)="goToCreateOffer(candidate)"> {{candidate.full_name}}</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="2">
            <p class="clickable-item" (click)="goToCreateOffer(candidate)">{{candidate.designation_name}}</p>
          </ion-col>
          <ion-col size="2">
            <p class="clickable-item" (click)="goToCreateOffer(candidate)">{{candidate.department_name}}</p>
          </ion-col>
          <ion-col size="2">
            <h5 [ngClass]="candidate.status === 'pending'? 'status-title pending' : 'status-title accepted'">
              {{candidate.status}}</h5>
          </ion-col>
          <ion-col size="2">
            <p class="clickable-item" (click)="goToCreateOffer(candidate)">{{candidate.location_name}}</p>
          </ion-col>
          <ion-col size="2">
            <div class="cell cell-actions">
              <ion-button class="primary-outline-btn" *ngIf="candidate?.status === 'accepted'">Revise</ion-button>
              <ion-button class="primary-outline-btn" *ngIf="candidate?.status === 'pending'"
                (click)="startpreonboarding(candidate)">Start
                Pre-Onboarding</ion-button>
              <ion-button fill="clear" [attr.id]="'accept-button' + candidate.PersonalDetailsID" class="dot-button">
                <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon></ion-button>
              <ion-popover [attr.trigger]="'accept-button' + candidate.PersonalDetailsID" [dismissOnSelect]="true">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false" (click)="employeehire(candidate)"
                        *ngIf="candidate.status === 'accepted'"> Hire as employee</ion-item>
                      <ion-item [button]="true" [detail]="false">Pending</ion-item>
                      <ion-item [button]="true" [detail]="false">Reject</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>