<ion-header [translucent]="true">
</ion-header>

<ion-content class="coming-soon-container" [fullscreen]="true">
  <div class="coming-soon-content">
    <div class="illustration-wrapper">
      <img src="../../../assets/coming_soon_onboarding.png" alt="Coming Soon" class="coming-soon-img">
    </div>

    <div class="text-wrapper">
      <h1 class="title">Coming Soon</h1>
      <p class="description">
        We're working hard to finish the remaining modules.
        Soon you'll have full access to high-performance onboarding tools.
      </p>
      <ion-button class="back-home-btn" routerLink="/Home" expand="block">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        Back to Dashboard
      </ion-button>
    </div>
  </div>
</ion-content>