<ion-grid class="create-offer-header">
  <ion-row style="align-items: center;">
    <!-- Title -->
    <ion-col class="pr-15">
      <ion-toolbar>
        <ion-title>Create Offer</ion-title>
      </ion-toolbar>
    </ion-col>
    <!-- Navigation Tabs -->
    <ion-col>
      <div class="wizard-container row-right">
        <div class="stepper">
          <div [ngClass]="activeTab === 'CreateOffer' ? 'step active' : 'step inactive'"
            [class.completed]="completedSteps.includes('CreateOffer')" (click)="navigate('CreateOffer')">
            <div class="circle">1</div>
            <p>JOB DETAILS</p>
          </div>

          <div class="line"></div>

          <div [ngClass]="activeTab === 'salaryStaructure' ? 'step active' : 'step inactive'"
            [class.completed]="completedSteps.includes('salaryStaructure')" (click)="navigate('salaryStaructure')">
            <div class="circle">2</div>
            <p> COMPENSATION</p>
          </div>

          <div class="line"></div>

          <div [ngClass]="activeTab === 'OfferDetailsComponent' ? 'step active' : 'step inactive'"
            [class.completed]="completedSteps.includes('OfferDetailsComponent')"
            (click)="navigate('OfferDetailsComponent')">
            <div class="circle">3</div>
            <p> OFFER DETAILS </p>
          </div>

          <div class="line"></div>

          <div [ngClass]="activeTab === 'preview_send' ? 'step active' : 'step inactive'"
            [class.completed]="completedSteps.includes('preview_send')" (click)="navigate('preview_send')">
            <div class="circle">4</div>
            <p>PREVIEW & SEND</p>
          </div>
        </div>

        <div class="ion-padding d-flex">
          <ion-button class="primary-outline-btn" (click)="onContinue()" *ngIf='!showCreateoffer'>
            Continue
          </ion-button>
          <ion-button class="primary-btn" (click)="onCreateOffer()" *ngIf='showCreateoffer'>
            Create Offer
          </ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>