@use '../../../global.scss' as *;
// @use '../../shared/header/header.component.scss' as *;
@import 'https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css';
.offer-container {
  --background: var(--ion-bg-color);
  h1 {
    @include card-header-title();
    padding-top: 0px;
    margin: 0;
  }
  h3 {
    @include text-style-bold();
    padding-top: 0px;
    margin: 0;
  }
  ion-card {
    padding: 16px 8px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
  }
  ion-select {
    border: 1px solid #D1D5DB;
    height: 45px;
    border-radius: 4px;
    padding: 0px 12px !important;
    margin: 11px 0px;
    background: #EFEFEF;
  }
}
ion-radio {
  --border-radius: 50%;
  --inner-border-radius: 50%;
  --color: #ddd;
  --color-checked: #24A0ED;
  ;
  display: block;
  padding: 8px 16px;
  border: 1px solid #ABABAB;
  margin-bottom: 5px;
  border-radius: 10px;
  ion-img {
    width: 24px;
    position: absolute;
    right: 0;
  }

}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
}

.radio-checked.ios::part(container) {
  border-color: #24A0ED;
}

.template-preview {
  padding: 24px !important;
  .company-logo {
    ion-img {
      width: fit-content;
      margin-bottom: 30px;
    }
  }
  .offer-header {
    border-bottom: 1px solid #00000040;
    @include text-style-bold();
  }
}

.editor-container {
  height: 100%;
  padding: 10px;
  quill-editor {
    width: 100vh;
    height: 400px;
  }
  .ql-toolbar {
    background: #f4f5f8;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  .ql-container {
    background: white;
    border-radius: 12px;
    min-height: 300px;
    font-size: 15px;
  }

  .ql-editor {
    max-height: 400px;
    line-height: 1.6;
    width: 100vh;
  }
}
