<ion-content class="ion-padding page-containerOn project-wrappers">
   <p class="page-header mb-8">
   <a routerLink="/admin" (click)="adminManagement()">Admin Management /</a>
   <a routerLink="/admin-leaves" (click)="leavetype()">Leaves Admin Dashboard /</a>
   Manage Leave Types
  </p>

  <!-- ================= TOP BAR ================= -->
  <div class="top-bar">
    <div>
      <ion-title>Leave Types</ion-title>
    </div>

    <ion-button shape="round" color="primary" (click)="openCreateForm()">
      <ion-icon name="add" slot="start"></ion-icon>
      Create Leave Type
    </ion-button>
  </div>

  <!-- ================= CREATE / EDIT FORM ================= -->
  <ion-modal [isOpen]="showCreateForm" cssClass="create-project-modal side-custom-popup" backdropDismiss="false">
    <ng-template>
      <div class="leave-head">
        <ion-card-header>
          <ion-card-title>
            {{ isEditMode ? 'Edit Leave Type' : 'Create Leave Type' }}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form [formGroup]="leaveTypeForm">

            <ion-item class="leavetype-ipt">
              <ion-label position="stacked">Leave Type Name</ion-label>
              <ion-input fill="outline" formControlName="type_name"></ion-input>
            </ion-item>

            <ion-item class="leavetype-ipt">
              <ion-label position="stacked">Leave Code</ion-label>
              <ion-input fill="outline" formControlName="type_code"></ion-input>
            </ion-item>

            <ion-item class="leave-checkbox">
              <ion-checkbox formControlName="is_paid"></ion-checkbox>
              <ion-label>
                <h4>Paid Leave</h4>
                <p>Calculate leave based on joining date</p>
              </ion-label>
            </ion-item>

            <ion-item class="leave-checkbox">
              <ion-checkbox formControlName="requires_approval"></ion-checkbox>
              <ion-label>
                <h4>Requires Approval</h4>
                <p>Manager approval needed for this leave type</p>
              </ion-label>
            </ion-item>

            <ion-item class="leave-checkbox">
              <ion-checkbox formControlName="can_carry_forward"></ion-checkbox>
              <ion-label>
                <h4>Allow Carry Forward</h4>
                <p>Unused leave can be carried to next year</p>
              </ion-label>
            </ion-item>

            <ion-item class="leavetype-ipt" *ngIf="leaveTypeForm.value.can_carry_forward">
              <ion-label position="stacked">
                Max Carry Forward Days
              </ion-label>
              <ion-input type="number" fill="outline" formControlName="max_carry_forward_days"></ion-input>
            </ion-item>

            <ion-item class="leavetype-ipt">
              <ion-label position="stacked">Description</ion-label>
              <ion-textarea fill="outline" formControlName="description"></ion-textarea>
            </ion-item>

            <div class="modal-actions">
              <ion-button class="primary-outline-btn cancel-btn" (click)="cancelCreate()">
                Cancel
              </ion-button>

              <ion-button class="primary-btn create-btn" [disabled]="loading" (click)="submit()">
                {{ loading ? 'Saving...' : (isEditMode ? 'Update Leave Type' : 'Create Leave Type') }}
              </ion-button>
            </div>

          </form>
        </ion-card-content>
      </div>
    </ng-template>
  </ion-modal>

  <!-- ================= LIST ================= -->
  <ion-card >
    <ion-card-header>
      <div class="head">
        <h3>Leaves</h3>
        <p>{{ leaveTypes.length }}</p>
      </div>
    </ion-card-header>

    <ion-card-content>

      <ion-spinner *ngIf="listLoading" name="crescent"></ion-spinner>
      <div class="listhead">

      <ion-grid *ngIf="!listLoading && leaveTypes.length">

        <!-- TABLE HEADER -->
        <ion-row class="table-header">
          <ion-col size="3">Leave Type</ion-col>
          <ion-col size="2">Code</ion-col>
          <ion-col size="2">Paid</ion-col>
          <ion-col size="2">Approval</ion-col>
          <ion-col size="2">Carry Forward</ion-col>
          <ion-col size="1">Actions</ion-col>
        </ion-row>

        <!-- TABLE ROW -->
        <ion-row class="table-list" *ngFor="let type of leaveTypes">
          <ion-col size="3">{{ type.type_name }}</ion-col>
          <ion-col size="2">{{ type.type_code }}</ion-col>
          <ion-col size="2">{{ type.is_paid ? 'Yes' : 'No' }}</ion-col>
          <ion-col size="2">{{ type.requires_approval ? 'Yes' : 'No' }}</ion-col>
          <ion-col size="2">
            {{ type.can_carry_forward ? (type.max_carry_forward_days + ' Days') : 'No' }}
          </ion-col>

          <ion-col size="1" class="action-col">
            <ion-button fill="clear" size="small" color="primary" (click)="editLeaveType(type)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>

            <ion-button fill="clear" size="small" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
      </div>

      <p *ngIf="!listLoading && !leaveTypes.length" class="empty-text">
        <img src="../../.././../assets/no-data-img.svg">
        <ion-text>No leave types</ion-text>
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>